<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <!-- Swap out "Roboto" for the font(s) you want to use -->
    <link href="https://fonts.googleapis.com/css?family=Overpass&display=swap" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Your own CSS -->
    <link rel="stylesheet" href="/styles.css">

    <title>News & Weather</title>
  </head>
  <body>
    <div class="container-fluid">
        <nav class="navbar navbar-light bg-white">
            <a class="navbar-brand mb-0 h1" href="/"><i class="far fa-arrow-alt-circle-left"></i> Go Back</a>
        </nav>
    </div>

    <div class="container-fluid weather-container">
        <div class="bg-light"> 
            <h1 class="HeadlineBlack"> Weather in <%= @location %> </h1>
            <p class="mt-0">Powered by Darksky</p>
        </div>
        <div class="row">
            <div class="col-xl-1">
                <img src="https://darksky.net/images/weather-icons/<%= @forecast["currently"]["icon"] %>.png" class="weathercardimagebig">
            </div>
            <div class="col-xl-11">
                <h3> It is currently <%= @forecast["currently"]["summary"].downcase %> in <%= @location %>. The current temperature is <%= @forecast["currently"]["temperature"].round %>°F, with a high today of <%= @forecast["daily"]["data"][0]["temperatureHigh"].round %>°F and a low of <%= @forecast["daily"]["data"][0]["temperatureLow"].round %>°F.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-1">
                <img src="https://darksky.net/images/weather-icons/<%= @forecast["daily"]["data"][1]["icon"] %>.png" class="weathercardimage">
            </div>
            <div class="col-xl-11">
                <h4 class="align-middle"> Tomorrow, it will be <%= @forecast["daily"]["data"][1]["summary"].downcase[0,@forecast["daily"]["data"][1]["summary"].length-1] %>, with a high of <%= @forecast["daily"]["data"][1]["temperatureHigh"].round %>°F and a low of <%= @forecast["daily"]["data"][1]["temperatureLow"].round %>°F. </h4>
            </div>
        </div>
        <p>
            <h2 class="bg-light">Weekly forecast</h2>
            <div class="row">
                <% for @each_day in @forecast["daily"]["data"].drop(2) %>
                    <div class="col-lg-2 d-flex align-items-stretch">
                        <div class="card border-light" style="width: 30rem;">
                                <img src="https://darksky.net/images/weather-icons/<%= @each_day["icon"] %>.png" class="weathercardimage card-img-top" alt="..." >
                                <div class="card-body">
                                    <h5 class="card-title"> <%= Time.at(@each_day["time"]).strftime("%a") %> </h5>
                                    <p class="card-text"> <%= @each_day["summary"][0,@each_day["summary"].length - 1] %>, with a high of <%= @each_day["temperatureHigh"].round %>°F and a low of <%= @each_day["temperatureLow"].round %>°F. </p>
                                </div>
                        </div>
                        <hr>
                    </div>
                <% end %>
            </div>
        </p>
        <hr>
    </div>
    <div class="container-fluid news-container mt-0 pt-0">
            <div class="bg-light"> 
                <h1 class="HeadlineBlack"> News </h1>
                <p class="mt-0">Powered by Newsapi</p>
            </div>
            <div class="row px-5">
                <% for each_article in @news["articles"] %>
                        <div class="col-xl d-flex align-items-stretch my-2 mx-auto">
                            <div class="card" style="width: 30rem;">
                                <a href=<%= each_article["url"] %>> <img src=<%= each_article["urlToImage"] %> class="newscardimage card-img-top" alt="..." > </a>
                                <div class="card-body">
                                    <h5 class="card-title"> <a href=<%= each_article["url"] %>> <%= each_article["title"][0,each_article["title"].rindex("-")] %> </a> </h5>
                                    <a href=<%= each_article["url"] %> class="btn btn-primary">See More at <%= each_article["source"]["name"] %></a>
                                </div>
                            </div>
                        </div>
                <% end %>
            </div>
    </div>
    <footer class="footer">
        <hr class="my-2">
        <div class="container my-2 mx-auto text-center">
            <div class="row">
                <div class="col-lg align-self-center">
                    <a class="footerlinks" href="https://www.linkedin.com/in/pnyama/"><i class="fab fa-linkedin footerimage"></i> Follow me on LinkedIn</a>
                </div>
                <div class="col-lg align-self-center">
                    <span class="footerlinks"> Made with Bootstrap | A KIEI 451 production</span>
                </div>
            </div>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>